// font-family: 'EB Garamond', serif;
// font-family: 'Inter', sans-serif;

:root{
    --bs-body-color: #212121;
    --bs-btn-disabled-bg: #D0D5DD;
}

html{
    font-size: 14px;

    @include media-breakpoint-up(md) {
        font-size: 14px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 16px;
    }
}

body{
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

// .input-group{
//     .form-control{
//         border-left: 0px;
//         padding-left: 0;
//     }
// }


.epics-card__icon {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

.icon {

    &-fill{
        font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
    }

    &-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $primary-100;
        color: $primary;
        font-size: 1rem;
        margin-right: 4px;
    }

    &-star{
        color: #FDB022
    }
}

.btn-outline-light{
    border-color: $gray-300;
    color: $gray-700;
}



