$primary: #6941C6;
$primary-50: #F9F5FF;
$primary-100: #F4EBFF;
$primary-200: #E4E7EC;
$primary-600: #7F56D9;
$primary-700: #6941C6;

// $red:     #F04438;

$gray-50:#F9FAFB;
$gray-100: #F2F4F7;
// $gray-200: #e9ecef !default;
$gray-300: #D0D5DD;
$gray-400: #98A2B3;
 $gray-500: #667085;
// $gray-600: #6c757d !default;
 $gray-700: #344054;
// $gray-800: #343a40 !default;
 $gray-900: #101828;
 $black:    #212121;

 $light: $gray-100;

// $font-size
// $h1-font-size:
// $h2-font-size:
$h3-font-size: 1.875rem;
$h4-font-size: 1.5rem;
// $h5-font-size:
// $h6-font-size:

// scss-docs-start form-label-variables
$form-label-font-size: 0.875rem;
$form-label-font-weight: 500;
$form-label-color: $gray-700;
//$btn-disabled-opacity:

// scss-docs-start form-input-variables
$input-placeholder-color: $gray-500;

// Style anchor elements.
$link-color: $primary;
$link-decoration: none;


$font-family-base: 'Inter', sans-serif;

// scss-docs-start headings-variables
$headings-font-family: 'EB Garamond', serif;

// scss-docs-start nav-variables
$nav-link-font-size: 0.875rem;

// scss-docs-start btn-variables
$btn-color: $black;
$btn-link-disabled-color: $gray-300;
$btn-font-weight: 500;
$btn-border-radius: 8px;
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1.125rem;
// $input-btn-padding-y: 0.625rem;
// $input-btn-padding-x: 1.25rem;

// Grid columns
$grid-gutter-width: 1.25rem;

$dropdown-font-size: 0.875em;
$dropdown-item-padding-y: 0.5rem;

$input-group-addon-padding-x: 8px;
$input-group-addon-bg: transparent;