///////////////////////////////////////
/// SIDEBAR
.user{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 64px;

    &__box{
        display: flex;
        
    }

    &__text{
        margin: 0 12px;
    }

    &__name{
        font-size: 1.25rem;
        font-weight: 600;
    }

    &__pos{
        font-size: 0.875rem;
        color: $gray-500;
    }
}
/// Sidebar Section
.sidebar-section{
    margin-bottom: 48px;

    &__heading{
        font-size: 1rem;
        margin-bottom: 16px;
        font-family: $font-family-base;
    }

    &__heading-down{

        .btn{
            color: $gray-600;
            font-size: 0.875rem;
            border-radius: 20px;
            margin: 0 8px 8px 0;
        }
    }
}

